name: Static Build
on:
  push:
    branches: [ main ]
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: jetli/wasm-pack-action@v0.4.0
        with:
          version: 'latest'
      - run: wasm-pack build
        working-directory: interop/
      - uses: actions/setup-node@v6
        with:
          node-version: "24.13.0"
          registry-url: "https://registry.npmjs.org"
      - run: npm ci && npm run build
        working-directory: web/
        env:
          CI: false
          REPO_NAME: ${{ github.repository }}
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v4
        with:
          path: "web/dist/"
      - uses: actions/deploy-pages@v4